.status.error {
    color: rgb(255, 0, 0);
    display: inline;
}

.status.success {
    color: rgb(0,192, 0);
    display: inline;
}

.status.info {
    display: inline;
}

.status {
    display: none;
}